@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@500&family=Noto+Serif+KR:wght@500&display=swap');
@import url(https://cdn.jsdelivr.net/gh/moonspam/NanumSquare@2.0/nanumsquare.css);

:root {
    --primary-font-family: 'Noto Sans KR', sans-serif;
    --secondary-font-family: 'Noto Serif KR', sans-serif;
    --third-font-family: 'NanumSquare', sans-serif;

    --color-main: #00b5b2;
    --color-submain: #FC5230;

    /* header-bottom(가운데) 설정 */
    --header-top-height: 30px;

    /* header-bottom(가운데) 설정 */
    --header-bottom-height: 70px;
    --header-bottom-mobile-height: 50px;

    --header-bottom-font-lh: 60px;
    --header-bottom-ms: 20px;
    --header-bottom-mobile-font-lh: 45px;
    --header-bottom-mobile-ms: 15px;

    --header-bottom-font-size: 14px;

    /* header-middle(navbar + 로그인|예약버튼) 설정 */
    --header-middle-nav-font-size: 14px;
    --header-middle-nav-1200-font-size: 15px;
    --header-middle-nav-1400-font-size: 18px;


    --3rd-menu-font-size: 16px;
    --3rd-menu-font-lh: 30px;


    --swiper-scrollbar-width: 60%;

    /* 예약 tab 탭 */
    --booking-service-width: 35%;
    --booking-service-xl-width: 30%;
    --booking-service-xxl-width: 25%;
    --booking-service-height: 260px; /* 300px */
    --booking-service-tab-height: 40px;
    --booking-service-tab-font-size: 16px;
    --booking-service-letter-spacing: -0.09rem;
    --booking-service-content-height: calc(var(--booking-service-height) - var(--booking-service-tab-height));


    --booking-service-right: 2%;
    --booking-service-bottom: 8%;
    --booking-service-mobile-right: 0;
    --booking-service-mobile-bottom: 0;

    --booking-service-color: #fff;
    --booking-service-not-on-color: #00b3b2;
    --booking-service-mobile-color: #5bd2cc;
    /*--booking-service-opacity: .9;*/

    --booking-service-form-row-width-percent-of-left: 38%;
    --booking-service-form-row-width-percent-of-right: 57%;
}

@media screen and (max-width: 991px) {
    :root {
        --booking-service-height: fit-content; /* 300px */

        --booking-service-tab-height: 30px;

        --booking-service-tab-font-size: 11px;

        --booking-service-content-height: calc(var(--booking-service-height) - var(--booking-service-tab-height));

        --booking-service-letter-spacing: -0.04rem;
    }

}

body {
    font-family: 'NanumSquare', 'Noto Sans KR', 'Malgun Gothic', 'Nanum Gothic', 'Noto Sans', 'sans-serif';
    color: #252525;
    font-size: 18px;
    line-height: 1.6;
    font-weight: normal;
    font-style: normal;

    /*background: black;*/
}

/* lg일 때, fixed되지 않은 header-top의 높이만큼 body 위를 띄워준다. */
@media screen and (min-width: 992px) {
    body {
        padding-top: var(--header-top-height);
    }
}

a {
    /*font-family:  'Noto Sans Korean', 'Apple SD Gothic Neo', 'Malgun Gothic', 'Nanum Gothic', 'Noto Sans', 'sans-serif';*/
    font-family: var(--primary-font-family);
    color: #252525;
    font-size: 18px;
    line-height: 1.6;
    font-weight: normal;
    font-style: normal;

    text-decoration: none !important;
}


.container-fluid {
    padding: 0;
}

.header {
    z-index: 999;
}

/*.header div {
  padding: 0 5%;
}*/

.header .header-top {
    /*height: 38px;*/
    /*background: #f7f7f7;*/
}

/* 특화질환 및 collapse 공간 */
.header .header-top div:nth-child(1),
.header .header-top div:nth-child(2) {
    padding: 0 5%;
}

/*.header a {*/
/* - dropdown 버튼 (특화질환) */
.header .header-top div:nth-child(1) a {
    /*height: 30px;*/
    /*line-height: 30px;*/
    height: var(--header-top-height);
    line-height: var(--header-top-height);
}

/* - collapse 공간 */
.header .header-top div:nth-child(2) {
    /*border-bottom: 1px solid #ccc;*/
}

.header .header-top div:nth-child(2) ul li {
    margin-top: 32px;
    margin-right: 6%;
}

.header .header-top div:nth-child(2) ul li:hover svg {
    margin-left: 15px;
    transition: all 0.3s linear;
}

/* middle with navbar*/
.header .header-middle {
    /*height: 60px;*/

    /*padding: 0 5%;*/ /* 안쪽 navbar의 패딩으로 변경*/
    /* 임시 */
    /*background: red;*/
}

.header .header-middle .navbar {
    /*padding: 10px 5%;*/
    padding: 0 5%;
}

/* lg일때만 위쪽 투명한 선 */
@media screen and (min-width: 992px) {
    .header .header-middle .navbar > div {
        border-top: 1px solid rgba(255, 255, 255, 0.2);
    "
    }
}

/* 모바일에선 좌우패딩 없애서 전체화면을 만들어야 body 스크롤이 안된다? */
@media screen and (max-width: 991px) {
    .header .header-middle .navbar {
        padding: 0 0;
    }
}

.dropdown-menu {
    max-height: 50vh;
    overflow-y: auto;
}

/* 투명색 header-middle 에 hover시  배경색+글자색+hover색 변화 */
.header .header-middle.on {
    background: #fff;

    /*box-shadow: 0 1px 8px 3px rgba(0, 0, 0, .05);*/
    transition: .3s all ease-in-out;
}

/*.header .header-middle.on .navbar-nav .nav-item a {*/
.header .header-middle.on a {
    color: #333 !important;
}

/*.header .header-middle.on .navbar-nav .nav-item a:hover {*/
.header .header-middle.on a:hover {
    color: #00b5b2 !important;
}


.header .header-middle .logo {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.header .header-middle .logo-image {
    display: inline-block;

    width: 230px;
    height: 30px;
    background: url("../images/logo_white.png") no-repeat;
    background-size: auto 100%;
}

.header .header-middle.on .logo-image {
    background: url("../images/logo.png") no-repeat;
    background-size: auto 100%;
}

@media screen and (max-width: 991px) {
    .header .header-middle .logo-image {
        width: 135px;
        height: 20px;
    }
}

/*.header .header-middle .navbar-brand {
    display: inline-block;
    max-width: 215px; !* 215x40px *!
}

@media screen and (max-width: 991px) {
    .header .header-middle .navbar-brand {
        max-width: 172px; !*172x32px*!
    }
}*/


.header .header-middle .navbar-toggler {
    z-index: 1;
}

/* custom 햄버거 */
.header .header-middle .navbar-toggler {
    width: 32px;
    height: 32px;
    line-height: 32px;
    text-align: center;

    border: none;
    outline: none;

    box-shadow: none; /* 클릭시 아웃라인 같은 shadow 제거 */
}

.header .header-middle .navbar-toggler span {
    display: block;

    width: 24px;
    height: 2px;
    /*background: rgb(60, 60, 60);*/
    background: #ddd;

    margin: 5px 0;

    /* 애니메이션 */
    transition: all .5s linear;
}

/* 토글on or hover on시 햄버거 버튼 검은색으로 */
.header .header-middle .navbar-toggler.on span {
    background: rgb(60, 60, 60);
}

.header .header-middle.on .navbar-toggler span {
    background: rgb(60, 60, 60);
}

.header .header-middle .navbar-toggler.on span:nth-child(1) {
    transform: rotate(45deg) translate(5px, 5px);
}

.header .header-middle .navbar-toggler.on span:nth-child(2) {
    transform: scale(0);
}

.header .header-middle .navbar-toggler.on span:nth-child(3) {
    transform: rotate(-45deg) translate(5px, -5px);
}


/*
- ~ lg(991)까지는 큰 logo
- xl(991) ~ xxl(1399)까지는 작은 logo **
- xxl(1400)부터 큰 logo 복귀
*/
.header .header-middle .navbar-brand {
    display: inline-block;

    background: url("../images/v3-icon.svg") no-repeat;
    background-position: -29px -26px;

    width: 153px;
    height: 34px;
}

@media screen and (min-width: 992px) and (max-width: 1399px) {
    .header .header-middle .navbar-brand {
        background-position: -208px -19px;

        width: 40px;
        height: 40px;
    }
}

/* 모바일 아이콘 1개(예약전화) */
.header .header-middle .navbar-call {
    width: 32px;
    height: 32px;
    /*line-height: 32px;*/
    text-align: center;

    border: 2px solid #000;
    border-radius: 5px;
}

.header .header-middle .navbar-nav {
    margin-left: 20px;
}

/* 각 메뉴별 화살표 */
/* - mega-menu만 화살표 가지도록 설정*/
/*.header .header-middle .navbar-nav .nav-item .nav-link:after {*/
.header .header-middle .navbar-nav .nav-item.mega-dropdown .nav-link:after {
    display: inline-block;
    content: "";
    width: 7px;
    height: 6px;
    background: url("../images/v4-icon.svg") no-repeat;
    background-position: -21px -96px;

    /* top위치 이동용 + dropdown 부모용 */
    position: relative;
    /*top: -3px;*/
}

@media screen and (min-width: 992px) {
    /* 화살표를 lg이후부터 inline-block으로서 약간 내림*/
    .header .header-middle .navbar-nav .nav-item .nav-link:after {
        top: -3px;
    }
}

/* 메뉴 글자크기 */
/* 992(lg)부터 등장 +  xl(1200)~  + xxl(1400) 시의 font + mr 정의해주기 */
/* - lg ~ */
/*.header .header-middle .navbar-nav .nav-item .nav-link {*/
.header .header-middle .navbar-nav .nav-item > a {
    font-size: var(--header-middle-nav-font-size);
    margin-right: 10px;
    padding-top: 10px;
    padding-bottom: 10px;

    color: #ddd;
}

/* 로그인 버튼 a태그 글자크기 */
.header .header-middle .navbar-other a {
    font-size: var(--header-middle-nav-font-size);
    line-height: var(--header-middle-nav-font-size);
}

/* - xl ~ */
@media screen  and (min-width: 1200px) {
    /* 메뉴 글자크기 */
    .header .header-middle .navbar-nav .nav-item > a {
        font-size: var(--header-middle-nav-1200-font-size);
        margin-right: 12px;
    }

    /* 로그인 버튼 a태그 글자크기 */
    .header .header-middle .navbar-other a {
        font-size: var(--header-middle-nav-1200-font-size);
    }
}

/* - xxl ~ */
@media screen  and (min-width: 1400px) {
    /* 메뉴 글자크기 */
    .header .header-middle .navbar-nav .nav-item .nav-link {
        font-size: var(--header-middle-nav-1400-font-size);
        margin-right: 10px;
    }

    /* 로그인 버튼 a태그 글자크기 */
    .header .header-middle .navbar-other a {
        font-size: var(--header-middle-nav-1400-font-size);
    }
}

/* 마지막 nav-item은 mr-0 */
.header .header-middle .navbar-nav .nav-item:last-child .nav-link {
    margin-right: 0;
}


/* 추가1) toggler가 아닌 부모li태그에 커스텀 클래스를 생성 */
/* - li.nav-item 중 .has-megamenu를 가진 친구들에게 적용 */

/*.header .header-middle .navbar-nav .nav-item.mega-dropdown:hover .dropdown-menu {*/
/*    display: block;*/
/*}*/


/* dropdown 메뉴 */
.header .header-middle .navbar-nav .nav-item .dropdown-menu {
    width: 100%;
    padding: 40px 10%;

    /*background: #f9f9f9;*/

    /* dropdown trigger인 a의 높이만큼 내려와서 생기도록 */
    margin-top: 0;
    top: 100%;

    border: none;
    border-radius: 0;
    /*background: rgba(9, 32, 75, 0.9);*/
    /*background: #1ececb;*/
    /*background: rgb(45, 82, 181, 0.95);*/

    /*background: rgb(55, 75, 100);*/


    /*background: #1ececb;*/
    background: #1ececb url("../images/bg_dropdown-001.png") no-repeat 100% 100%;
}


/* mobile 시 dropdown 애니메이션 + border bottom */
@keyframes fade-in {
    from {
        opacity: 0;
        /*transform: translateY(-10px);*/
    }
    to {
        opacity: 1;
        /*transform: translateY(0);*/
    }
}

@media screen and (max-width: 991px) {
    /*.nav-item.mega-dropdown > a {*/
    .nav-item > a {
        border-bottom: 1px solid #c9c9c9;
    }

    .nav-item.mega-dropdown .dropdown-menu {
        animation: fade-in 0.6s ease-in-out forwards;
    }
}

/* ul.body-left (메뉴공간) - 공통 설정1 */
.header .header-middle .navbar-nav .nav-item .dropdown-menu .dropdown-body .body-left {
    /* 넘치면 다음줄로 */
    flex-wrap: wrap;

    /* 60% 유지 -> 모바일에선 100% */
    width: 60%;
    /*padding: 0 5%;*/
}

@media screen  and (max-width: 991px) {
    .header .header-middle .navbar-nav .nav-item .dropdown-menu .dropdown-body .body-left {
        width: 100%;
    }
}

/*
    ul.body-left (메뉴공간) 개별설정 1 - 차지공간 설정
    1) .body-left.menu-2nd -> 50% 씩 차지 + 다음줄 대비 상하간격을 mb로
    2) .body-left.menu-img -> 110px씩 차지 + 오른쪽 간격을 mr로 간격
        + 모바일에선 50%
*/
/* 1) menu-2nd는 개별 메뉴가 50%씩 차지 + 상하간격을 mb로 */
.header .header-middle .navbar-nav .nav-item .dropdown-menu .dropdown-body .body-left.menu-2nd > li {
    width: 50%;

    margin-bottom: 20px;
}

/* 2) menu-img는 개별 메뉴가 110px 이미지와 함께 차지 + 가운데 정렬하여 img+p태그 모으기 + 오른쪽과 거리 두기*/
.header .header-middle .navbar-nav .nav-item .dropdown-menu .dropdown-body .body-left.menu-img > li {
    width: 110px;
    text-align: center;

    margin-right: 25px;
}

@media screen  and (max-width: 991px) {
    .header .header-middle .navbar-nav .nav-item .dropdown-menu .dropdown-body .body-left.menu-img > li {
        width: 50% !important;
        margin-right: 0 !important;
    }
}


/* 공통설정2) 2nd + img  [li의  hover시 > a태그 화살표:after ]  + [2nd의 위쪽하얀선:before를 위한 설정] */
.header .header-middle .navbar-nav .nav-item .dropdown-menu .dropdown-body .body-left > li {
    position: relative;
}


/* 2nd, img 메뉴 공통) hover시 왼쪽에 대각화살표 */
.header .header-middle .navbar-nav .nav-item .dropdown-menu .dropdown-body .body-left > li:hover > a:after {
    content: "";
    position: absolute;
    top: 10px;
    left: -15px;
    width: 10px;
    height: 10px;
    border-left: 3px solid #2cf5fb;
    border-bottom: 3px solid #2cf5fb;
    transform: rotate(-135deg);
}

/* 개별설정2) 2nd 메뉴 위쪽 하얀선:before + hover시 색깔 변경 */
.header .header-middle .navbar-nav .nav-item .dropdown-menu .dropdown-body .body-left.menu-2nd > li:before {
    content: "";
    position: absolute;
    left: 0;
    top: -3px;
    width: 5%;
    height: 2px;
    background: #ffffff;
}

.header .header-middle .navbar-nav .nav-item .dropdown-menu .dropdown-body .body-left > li:hover:before {
    background: #2cf5fb;
}

/* 공통설정3) 각 메뉴(2nd, img) 글자태그 찾아서 li:hover시, 글자태그 글자색 변경 by !important */
/* - img 메뉴의 글자 p태그 -  hover시  p태그(제목) 글자색 변경 */
.header .header-middle .navbar-nav .nav-item .dropdown-menu .dropdown-body .body-left > li:hover p {
    font-weight: normal !important;
    color: #2cf5fb !important;
}

/* 더알아보기 설정 */
/*@media screen  and (max-width: 991px) {*/

/*    !* dropdown의 5번째 메뉴부터는 숨김 + 마지막 제외 (더알아보기 버튼 내올거임) *!*/
/*    !*.header .header-middle .navbar-nav .nav-item .dropdown-menu .dropdown-body .body-left li:nth-child(n+5) {*!*/
/*    .header .header-middle .navbar-nav .nav-item .dropdown-menu .dropdown-body .body-left li:nth-child(n+5):not(last-child) {*/
/*        display: none;*/
/*    }*/
/*}*/

/* 개별설정3) - img 메뉴는 img태그의 크기를 padding으로 줄인다.추가 */
.header .header-middle .navbar-nav .nav-item .dropdown-menu .dropdown-body .menu-img > li img {
    padding: 10%;
}

/* 개별설정4) 2nd 메뉴 - 3rd메뉴 글자크기와 hover시 글자설정*/
.header .header-middle .navbar-nav .nav-item .dropdown-menu .dropdown-body .menu-3rd > li > a {
    font-size: var(--3rd-menu-font-size);
    line-height: var(--3rd-menu-font-lh);

    color: rgba(255, 255, 255, .85) !important;
    font-family: var(--third-font-family) !important;
}

.header .header-middle .navbar-nav .nav-item .dropdown-menu .dropdown-body .menu-3rd > li:hover > a {
    color: white !important;
    font-weight: bold !important;
}


/* 개별설정5) 2nd메뉴 - 3차메뉴를 pl를 줘서 벌려지도록 */
.header .header-middle .navbar-nav .nav-item .dropdown-menu .dropdown-body .menu-3rd > li {
    padding-left: 7px;
}

/*.header .header-middle .menu-3rd > li:before {*/
/*    content: '';*/
/*    position: absolute;*/
/*    left: 0;*/
/*    top: 7px;*/
/*    width: 2px;*/
/*    height: 16px;*/
/*    background: rgba(248,248,248,0.5);*/
/*    transition: all .3s;*/
/*}*/


/* dropdown body-left 마지막 li 더 알아보기 버튼 */
.header .header-middle .navbar-nav .nav-item .dropdown-menu .dropdown-body .body-left > li:last-of-type {
    width: 100%;
    text-align: center;

    /*padding: 10px 5%;*/
    padding: 0 5%;
    border: 1px solid white;
    border-radius: 5px;
    margin-top: 10px;
}


/* dropdown body-right div */
.header .header-middle .navbar-nav .nav-item .dropdown-menu .dropdown-body .body-right {
    /*background: red;*/
    flex: 1;
}

/* - 제목 */
.header .header-middle .navbar-nav .nav-item .dropdown-menu .dropdown-body .body-right h4 {
    margin: 30px 0 20px 60px;
}

/* - 소개 */
.header .header-middle .navbar-nav .nav-item .dropdown-menu .dropdown-body .body-right p {
    margin-left: 60px;
    color: rgba(255, 255, 255, 0.69) !important;
}


/* 모바일전용 로그인 메뉴 */
.header .header-middle .navbar-nav .login-item {
    /*padding: 0 2% 10px 2%;*/
    padding-bottom: 10px;
    margin-left: 5%;
    margin-right: 5%;

    border-bottom: 1px solid #ccc;
}

.header .header-middle .navbar-nav .login-item span {
    color: #ccc;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
}

/* 모바일전용 검색 메뉴 */
.header .header-middle .navbar-nav .search-item {
    border-bottom: 1px solid #000;
}

/* lg 로그인 버튼 */
.header .header-middle .navbar-other .login {
    position: relative;
}

/* lg 로그인 hover box */
.header .header-middle .navbar-other .login .login-box {
    position: absolute;
    background: #fff;

    left: 50%;
    transform: translateX(-50%);
    top: 40px;

    border: 1px solid #ccc;
    border-radius: 10px;

    display: none; /* hover를 위해 기본 none */


    /* fixed된 이후 hover 등이 안가려지도록 */
    z-index: 999;
}

/* .login hover시 얻는 .on -> .login-box 보이도록 */
.header .header-middle .navbar-other .login.on .login-box {
    display: block;
}


/* - hover box안에서 span태그로 화살표 */
.header .header-middle .navbar-other .login .login-box > span {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: -20px;

    height: 20px;
    width: 20px;
}

.header .header-middle .navbar-other .login .login-box > span i {
    position: absolute;
    left: 0;
    top: 0;

    border-width: 10px;
    border-style: solid dashed dashed;
    border-color: transparent transparent #e2e2e2;
}

.header .header-middle .navbar-other .login .login-box > span b {
    position: absolute;
    left: 0;
    top: 1px;

    border-width: 10px;
    border-style: solid dashed dashed;
    border-color: transparent transparent #fff;
}

/* - hover box안에서 각 line p태그 */
.header .header-middle .navbar-other .login .login-box p {
    width: 160px;

    line-height: 24px;
    text-align: center;

    margin: 0;
    padding: 10px;
}

/* - 마지막을 제외한 각 p태그에 border-bottom*/
.header .header-middle .navbar-other .login .login-box p:not(:last-of-type) {
    border-bottom: 1px solid #f6f6f6;
}

/* - hover시 .navbar-other 안의 svg stroke색 변경 */
.header .header-middle.on .navbar-other svg {
    stroke: #000;
    stroke-width: .5px; /* 선의 두께를 좀 더 연하게 설정 */
}

/* modal */
.modal .modal-content {
    position: relative;
    /* modal 패딩 for abs 닫기버튼 등 피하기 위함 */
    padding: 20px 100px 50px 100px;
}

/* - 닫기버튼 */
.modal .modal-content i {
    position: absolute;
    top: 15px;
    right: 15px;

    display: inline-block;
    width: 15px;
    height: 15px;

    cursor: pointer;

    background: url("../images/support-icon2.svg") -1145px -454px;
}

.modal .modal-content i:hover {
    background-position: -1176px -454px;
}

.modal .modal-content .modal-header {
    margin-bottom: 20px;
}

.modal .modal-content .modal-header span {
    width: 169px; /* 남은공간 300  /2 =  150px보다 크게 줘서, 2번째 span이 영역 가운데서 시작하게 됨*/
    text-align: center;
    font-size: 18px;
}

/* modal-header 첫번째 span에 빨간색 */
.modal .modal-content .modal-header span:nth-of-type(1) {
    color: #be0000;
}

/* modal-body의 input */
.modal .modal-content .modal-body input[type=text] {
    display: block;
    width: 100%;

    border: none;
    outline: none;
    border-bottom: 1px solid #ccc;

    font-size: 15px;
    line-height: 48px;
}

/* - 회원가입 line */
.modal .modal-content .modal-body p {
    width: 100%;
    padding: 10px 0;
    /*color: #007dff;*/
    font-size: 13px;
}

.modal .modal-content .modal-body p a {
    color: #007dff;
    font-size: 13px;
}

.modal .modal-content .modal-body p b {
    display: inline-block;
    width: 11px;
    height: 15px;

    background-image: url("../images/ic_smsLogin.png");
    background-position: -2px 0;
    background-repeat: no-repeat;

    margin-bottom: -3px;
}

.modal .modal-content .modal-body input[type=button]:hover {
    background: #be0000;
    color: #fff;
}

/* modal-footer */
.modal .modal-content .modal-footer {
    margin-top: 10px;
}

.modal .modal-content .modal-footer p {
    width: 100%;
    position: relative;

    text-align: center;
    font-size: 13px;
}

/* 글자 양끝의 line */
.modal .modal-content .modal-footer p span {
    display: inline-block;
    width: 50px;
    height: 1px;
    background: #ccc;

    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}

.modal .modal-content .modal-footer p span:nth-of-type(1) {
    left: 0;
}

.modal .modal-content .modal-footer p span:nth-of-type(2) {
    right: 0;
}

/* modal-footer sns 로그인 */
.modal .modal-content .modal-footer ul li {
    margin: 0 5px;
}

.modal .modal-content .modal-footer ul li a {
    display: inline-block;
    width: 42px;
    height: 42px;

    background: url("../images/share.png") no-repeat;
}

/* - x: -12px부터 -60px씩 움직이면 다른 그림이 나옴 */
/* - y: -9px에서 -55px로 움직이면 hover시 그림이 나옴 */
/* - (1) 카톡로그인 */
.modal .modal-content .modal-footer ul li:nth-of-type(1) a {
    background-position: -12px -9px;
}

.modal .modal-content .modal-footer ul li:nth-of-type(1):hover a {
    background-position: -12px -55px;
}

/* - (2) 구글로그인 */
.modal .modal-content .modal-footer ul li:nth-of-type(2) a {
    background-position: -252px -9px;
}

.modal .modal-content .modal-footer ul li:nth-of-type(2):hover a {
    background-position: -252px -55px;
}


/* header bottom */
.header .header-bottom {
    /*height: 60px;*/
    height: var(--header-bottom-height);
    padding: 0 5%;

    /*background: #ccc;*/

    position: relative;
}

@media screen and (max-width: 991px) {
    .header .header-bottom {
        height: var(--header-bottom-mobile-height);
    }
}

/* - second-title */
.header .header-bottom .second-title {
    /*font-weight: bold;*/
    line-height: 60px;
    font-size: 16px;
}

@media screen and (max-width: 991px) {
    .header .header-bottom .second-title {
        line-height: 50px !important;
        font-size: 15px;
    }
}

/* left banner */
.header .header-bottom .bottom-left-banner {
    width: 33.3%;

    /*max-height: 70px;*/
    /*height: 70px;*/
}

/*left banner pagination 크기 + 색 */
#leftBanner button.splide__pagination__page {
    /* 각 점들은 button 태그의 background + opacity로 색으로 설정*/
    /*background: var(--color-main);*/
    /*opacity: 0.3;*/

    /* button 점 크기: 8px 기본*/
    width: 4px;
    height: 4px;
}

#leftBanner button.splide__pagination__page.is-active {
    background: var(--color-main);
    /*opacity: 1;*/
}

/* 세로나열을 위해, button<li의 부모의 기본 상하 패딩을 제거해야, 좁은 공간에서 자동flex-column의 버튼들이 가로로 안 눕는다.*/
#leftBanner ul.splide__pagination {
    padding: 0;
}

/* 세로나열을 위해, li들간의 간격을 0으로 */
#leftBanner ul.splide__pagination li {
    /*  기존 행간 1  */
    line-height: 0;
}

/* pagination 위치 조절 */
#leftBanner ul.splide__pagination {
    /* 기존 left:auto; right:0.5em */
    /*right: 35%;*/
    left: -3%;
    width: fit-content;
}

/* 모바일에서 점크기 작게 + 왼쪽으로 조금 더 벌리기 */
@media screen and (max-width: 991px) {
    #leftBanner button.splide__pagination__page {
        width: 2.5px;
        height: 2.5px;
    }

    #leftBanner ul.splide__pagination {
        left: -8%;
    }
}


/* left banner - img태그 높이 -> 우측 글자높이에 맞춰준다 */
.header .header-bottom .bottom-left-banner .card > img {
    max-height: var(--header-bottom-font-lh);
    width: auto;

    max-width: 25%;
}

/* - 모바일시, 우측 글자높이 mobile 버전으로 img태그의 max-height를 조절 */
@media screen and (max-width: 991px) {
    .header .header-bottom .bottom-left-banner .card > img {
        max-height: var(--header-bottom-mobile-font-lh);
    }
}

/* left banner - 글 부분 너비 75% */
.header .header-bottom .bottom-left-banner .card > .card-body {
    max-width: 75%;
}

/* left banner font */
.header .header-bottom .bottom-left-banner .left-banner-title,
.header .header-bottom .bottom-left-banner .left-banner-subtitle {
    font-size: 0.95rem;
    font-weight: bold;
    /*font-family: var(--secondary-font-family);*/

    letter-spacing: -.5px;
}

/* - 모바일에서 left-banner 글자크기+자간+간격 줄이기 */
@media screen and (max-width: 991px) {
    .header .header-bottom .bottom-left-banner .left-banner-title,
    .header .header-bottom .bottom-left-banner .left-banner-subtitle {
        font-size: .5rem;
        font-weight: bolder;
        letter-spacing: -.5px;
        margin: 2px;
    }
}

/* .header-middle hover시(.on) left-banner font색 변경 */
.header .header-middle.on .header-bottom .bottom-left-banner .left-banner-title {
    color: #00b5b2;
}

.header .header-middle.on .header-bottom .bottom-left-banner .left-banner-title > span {
    color: var(--color-submain);
}

.header .header-middle.on .header-bottom .bottom-left-banner .left-banner-subtitle {
    color: #000;
}

/* header-bottom 가운데 화살표 */
/*.arrow {*/
/*    display: inline-block;*/
/*    width: 21px;*/
/*    height: 11px;*/

/*    background: url("../images/v4-icon.svg") no-repeat;*/
/*    background-position: -347px -488px;*/

/*    position: absolute;*/
/*    top: 50%;*/
/*    left: 50%;*/
/*    transform: translate(-50%, -50%);*/
/*}*/

/* header-bottom - 우측 버튼들 */
/*.header .header-bottom ul li {*/
.header .header-bottom > ul > li {
    line-height: var(--header-bottom-font-lh);
    margin-left: var(--header-bottom-ms);
}

@media screen and (max-width: 991px) {
    .header .header-bottom > ul > li {
        line-height: var(--header-bottom-mobile-font-lh) !important;
        margin-left: var(--header-bottom-mobile-ms);
    }
}

.header .header-bottom > ul > li a {
    font-size: var(--header-bottom-font-size)
}


/* 섹션1 */
.section1 {
    /*background: #fff;*/
    /*opacity: .5;*/
}

@media screen and (max-width: 991px) {
    .section1 {
    }
}

/* - swiper */
.section1 .swiper-container {
    width: 100%;

    position: relative;
}

.section1 .swiper-container .swiper-scrollbar {
    /*width: 60%;*/
    width: var(--swiper-scrollbar-width);

    position: absolute;
    left: 5%; /* 100-90 = 10%에서 가운데 정렬을 위해 5%만 */

    bottom: 5%;
    top: auto;

    /*font-size: 0;*/
    /*white-space: nowrap;*/
    height: .4vw;
    border-radius: 0;
}

.section1 .swiper-container .swiper-scrollbar .swiper-scrollbar-drag {
    background: #ddd;
    opacity: .6;

    border-radius: 0;
}

.section1 .swiper-container .swiper-pagination {
    width: 60%;
    position: absolute;
    left: 5%; /* 100-90 = 10%에서 가운데 정렬을 위해 5%만 */

    bottom: 8%;
    top: auto;

    /*font-size: 0;*/
    /*white-space: nowrap;*/

    display: flex;
    justify-content: space-between;
    align-items: center;
}

.section1 .swiper-container .swiper-pagination-bullet {
    flex: 1;
    flex-wrap: wrap;
    height: auto;

    /*display: inline-block;*/
    /*vertical-align: top;*/
    /*width: 33.3%;*/

    font-size: 1vw;
    line-height: 1.5vw;
    font-weight: 600;

    color: #fff !important;
    text-shadow: 1px 1px 2px #757575;
    text-align: center;

    background: none;
    border-radius: 0px;
}

/* 모바일 */
@media screen and (max-width: 991px) {
    .section1 .swiper-container .swiper-scrollbar,
    .section1 .swiper-container .swiper-pagination {
        width: 90%;
        left: 5%;
    }

    .section1 .swiper-container .swiper-pagination-bullet {
        font-size: 2.8vw;
        line-height: 3vw;
    }
}

/* 섹션2 */
.section2 {
    position: relative; /* section1을 덮고 올라가려면, relative로 바꿔야한다.*/
    z-index: 666;
    background: #fff;
}

.section2 > div {
    width: 70%;
    margin: 0 auto;

    /*height: 300px;*/
    /*background: red;*/
}

@media screen and (max-width: 991px) {
    .section2 > div {
        width: 85%;
    }

    .section2 > .booking-service-mobile {
        width: 100%;
    }
}

.section2 > .notice {
    width: 100% !important;
    padding: 0 10%;
}

@media screen and (max-width: 991px) {
    .section2 > .notice {
        padding: 0 5%;
    }
}

/* 섹션2-top */
.section2 .section2-top {
    /*padding: 50px 0;*/
    padding: 3.5vw 0;
}

/* 섹션2-top 왼쪽div*/
.section2 .section2-top div:nth-of-type(1) {
}

.section2 .section2-top div:nth-of-type(1) p {
    /* velocity [이전 위치] 잡기 */
    position: relative;
    /*top: 150px;*/
    top: 10vw;
    opacity: 0;

    /*font-size: 40px;*/
    font-size: 3.5vw;
    /*line-height: 45px;*/
    line-height: 4.1vw;
    font-weight: bold;
    color: #222222;

    white-space: nowrap; /* 텍스트 한 줄 표시*/
}

.section2 .section2-top div:nth-of-type(1) p:nth-of-type(1) {
    /* velocity [이전 위치] 잡기 */
    /*top:50px;*/
    top: 3.3vw;

    /*font-size: 20px;*/
    font-size: 1.9vw;
    /*line-height: 25px;*/
    line-height: 2.8vw;
    color: var(--color-main);
    white-space: nowrap; /* 텍스트 한 줄 표시*/
}

/* 섹션2-top 오른쪽div*/
.section2 .section2-top div:nth-of-type(2) {
    /* velocity [이전 위치] 잡기 */
    position: relative;
    /*top: 150px;*/
    top: 12vw;
    opacity: 0;

    /*font-size: 25px;*/
    font-size: 2.1vw;
    /*line-height: 35px;*/
    line-height: 3.5vw;
    color: #222222;

    /*margin-left: 100px;*/
    margin-left: 6.6vw;
    /*padding-top: 50px;*/
    padding-top: 3.3vw;
}

/* 섹션 title 설정 */
.section-title,
.section-subtitle {
    display: flex;
    justify-content: space-between;
    margin-bottom: 1vw;
}

/* - 섹션 title 왼쪽 div 속 p 2개 설정 */
.section-title > div:nth-of-type(1) p:nth-of-type(1) {
    font-size: 1.9vw;
    line-height: 2.8vw;
    color: var(--color-main);
    font-weight: bold;

    white-space: nowrap; /* 텍스트 한 줄 표시*/
}

.section-title > div:nth-of-type(1) p:nth-of-type(2),
.section-subtitle > div:nth-of-type(1) p:nth-of-type(1) {
    font-size: 3.5vw;
    line-height: 4.1vw;
    font-weight: bold;
    color: #222222;

    white-space: nowrap; /* 텍스트 한 줄 표시*/
}

/* - 섹션 title 오른쪽 div 설정 */
.section-title > div:nth-of-type(2),
.section-subtitle > div:nth-of-type(2) {
    font-size: 2.1vw;
    line-height: 3.5vw;
    color: #222222;

    margin-left: 6.6vw;
    padding-top: 3.3vw;
}

/* - 섹션 subtitle은 오른쪽의 위쪽공간을 조금 줄인다. */
.section-subtitle > div:nth-of-type(2) {
    padding-top: 2vw;
}

/* velocity를 위한 이전 위치 잡기 */
.section-title > div:nth-of-type(1) {
    position: relative;
    top: 10vw;
    opacity: 0;
}

.section-title > div:nth-of-type(2) {
    position: relative;
    top: 12vw;
    opacity: 0;
}

/* 섹션2-middle */
.section2 .section2-middle {
    /* 겹쳐서 중간에 나올 text img를 absolute로 */
    position: relative;
}

/* 섹션2-middle 첫번째 left 이미지*/
.section2 .section2-middle img:nth-of-type(1) {
    width: 30%;
    /*transform: translateX(-100%);*/
}

/* 섹션2-middle 첫번째 right 이미지*/
.section2 .section2-middle img:nth-of-type(2) {
    width: 30%;
    /*transform: translateX(100%);*/
}

/* 섹션2-middle 두번째 text 이미지*/
.section2 .section2-middle img:nth-of-type(3) {
    width: 80%;

    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    opacity: 0;
}

/* 섹션2-middle 세번째 center 이미지*/
.section2 .section2-middle img:nth-of-type(4) {
    width: 25%;

    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    opacity: 0;
}


/* 섹션2-bottom */
/* 새 옵션은 직접 가져가야함. */
.section2-bottom {
    /*padding: 100px 0;*/
    padding: 10vw 0;
}

/* swiper 설정 */
/* 1) 컨테이너 설정 */
.section2-bottom .swiper-container {
    width: 100%;
    height: 34vw;
    border-radius: 35px;

    overflow: hidden;
    /* 임시 */
    /*background: red;*/
}

/* - 모바일에선 꽉채우는 부모 width가 더 넓어져서 height 좀 더 늘리기 + border-radius 낮추기*/
@media screen and (max-width: 991px) {
    .section2-bottom .swiper-container {
        height: 42vw;
        border-radius: 8px;
    }
}


/* 2) slide 설정*/
.section2-bottom .swiper-container .swiper-slide {
    position: relative;
}

.section2-bottom .swiper-container .swiper-slide img {
    position: absolute;

    width: 36%;
}

/* 3) 개별 slide의 img 설정 */
/* - slide 1 */
.section2-bottom .swiper-container .swiper-slide:nth-child(1) {
    background: #ffdbc6;
}

.section2-bottom .swiper-container .swiper-slide:nth-child(1) img:nth-child(1) {
    left: 7%;
    bottom: 5%;

    width: 50%;
    z-index: 1;
}

.section2-bottom .swiper-container .swiper-slide:nth-child(1) img:nth-child(2) {
    left: 60%;
    top: 0%;

    width: 40%;
}

/* - slide 2 */
.section2-bottom .swiper-container .swiper-slide:nth-child(2) {
    background: #ace3e5;
}

.section2-bottom .swiper-container .swiper-slide:nth-child(2) img:nth-child(1) {
    left: 10%;
    top: 25%;

    width: 48%;
    z-index: 1;
}

.section2-bottom .swiper-container .swiper-slide:nth-child(2) img:nth-child(2) {
    left: 65%;
    top: 25%;
}

/* - slide 3 */
.section2-bottom .swiper-container .swiper-slide:nth-child(3) {
    background: #e0daf5;
}

.section2-bottom .swiper-container .swiper-slide:nth-child(3) img:nth-child(1) {
    left: 45%;
    bottom: 0;
    width: 45%;
}

.section2-bottom .swiper-container .swiper-slide:nth-child(3) img:nth-child(2) {
    left: 15%;
    bottom: -20%;

    width: 30%;
}

/* - slide 4 */
.section2-bottom .swiper-container .swiper-slide:nth-child(4) {
    background: #dbdbdb;
}

.section2-bottom .swiper-container .swiper-slide:nth-child(4) img:nth-child(1) {
    left: 20%;
    bottom: 0;

    width: 55%;
    z-index: 1;
}

.section2-bottom .swiper-container .swiper-slide:nth-child(4) img:nth-child(2) {
    right: 0;
    bottom: 0;

    width: 30%;
}

/* - slide img animation */
@keyframes mySlideInUp {
    0% {
        transform: translateY(20%);
        visibility: visible;
        opacity: 0;
    }

    100% {
        transform: translateY(0);
        opacity: 1;
    }
}

.mySlideInUp {
    animation-name: mySlideInUp
}

@keyframes mySlideInDown {
    0% {
        transform: translateY(-20%);
        visibility: visible;
        opacity: 0;
    }

    100% {
        transform: translateY(0);
        opacity: 1;
    }
}

.mySlideInDown {
    animation-name: mySlideInDown
}

/* 3) swiper pagination bullet css */
/* - bullet css */
.section2-bottom .swiper-container .swiper-pagination {
    position: absolute;

    width: auto; /* 자식들bullets의 크기만큼 차지 */

    left: auto;
    right: 10%;

    bottom: 5%;
}

.section2-bottom .swiper-container .swiper-pagination .my-bullet {
    display: inline-block;
    width: 1.3vw;
    height: 1.3vw;
    border-radius: 50%;

    background: #000; /* 기본 배경색*/
    margin: 0 5px; /* 좌우 간격*/
}

/* - 1번째 bullet */
.section2-bottom .swiper-container .swiper-pagination .my-bullet:nth-child(1) {
    color: #ff6b29; /* 글자색(표기안됨) or box-shadow 색 */
    background: #ff6b29; /* 배경색 */
}

/* - 2번째 bullet */
.section2-bottom .swiper-container .swiper-pagination .my-bullet:nth-child(2) {
    color: #16c196; /* 글자색(표기안됨) or box-shadow 색 */
    background: #16c196; /* 배경색 */
}

/* - 3번째 bullet */
.section2-bottom .swiper-container .swiper-pagination .my-bullet:nth-child(3) {
    color: #9676ff; /* 글자색(표기안됨) or box-shadow 색 */
    background: #9676ff; /* 배경색 */
}

/* - 4번째 bullet */
.section2-bottom .swiper-container .swiper-pagination .my-bullet:nth-child(4) {
    color: #434040; /* 글자색(표기안됨) or box-shadow 색 */
    background: #434040; /* 배경색 */
}

/* - active bullet (border) */
.section2-bottom .swiper-container .swiper-pagination .my-bullet-active {
    border: .27vw solid #fff;

    box-sizing: border-box;
    box-shadow: 0 0 10px; /* 색은 color로 지정한 색이 나오게 된다.*/
}

/* 4) swiper title(line + name) 설정 */
.section2-bottom .swiper-container .swiper-line {
    position: absolute;

    width: 4vw;
    /*height: 3px;*/
    height: 0.5vw;
    background: #fff;

    left: 5%;
    top: 10%;

    z-index: 666; /* slide에 배경 넣으면 wrapper형제들은 안보이게 됨.*/
}

.section2-bottom .swiper-container .swiper-name,
.section2-bottom .swiper-container .swiper-number {
    position: absolute;
    left: 5%;
    top: 15%;

    /*line-height: 30px;*/
    /*height: 30px;*/
    /*font-size: 25px;*/
    line-height: 3.3vw;
    height: 3.3vw;
    font-size: 3vw;

    overflow: hidden;

    color: #fff;

    z-index: 666;
}

.section2-bottom .swiper-container .swiper-number {
    left: auto;
    right: 5%;
    top: 10%;

    /*z-index: 2;*/
}

.section2-bottom .swiper-container .swiper-name span,
.section2-bottom .swiper-container .swiper-number span {
    position: relative;
    display: block;
    top: 0;
}

/* cookie 설정 */
.alert {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;

    margin: 0;
    z-index: 999;

    border: none;
    border-radius: 0;
    opacity: 0.8;
}

.alert button {
    /*outline: none!important;*/
    box-shadow: none !important;
}


/* 예약 */
.section1 {
    position: relative !important;
}

/* 예약 투명색 전체 박스 box 280 */
.booking-service {
    position: absolute;
    width: var(--booking-service-width);
    right: var(--booking-service-right);

    bottom: var(--booking-service-bottom);
    height: var(--booking-service-height);
    /*margin-left: 215px;*/
    /*margin-top: -300px;*/
    z-index: 9999;

    /* 임시 */
    /*background: #ddd;*/
    /*opacity: var(--booking-service-opacity);*/
}

@media screen and (min-width: 1200px) {
    .booking-service {
        width: var(--booking-service-xl-width);
    }
}

@media screen and (min-width: 1400px) {
    .booking-service {
        width: var(--booking-service-xxl-width);
    }
}

/* 예약 전체-tab 높이만큼, 뒤에 깔린 배경 */
.booking-service:before {
    content: '';

    position: absolute;
    bottom: 0;
    /*left: 0;*/ /* content의 border radius를 뒤에서 삐져나와서 약간 이동*/
    left: 20%;

    display: block;
    width: 88%; /* block이어도 화면 끝까지 안감. 직접 크게 줘야한다.*/
    height: var(--booking-service-content-height);

    /* 임시 */
    /*background: red;*/
    background: var(--booking-service-color);
}

.booking-service-mobile {
    position: relative;

    margin: 0;
    /*padding-top: 10px; !* 모바일 추가*!*/
}

/* 이전위치 잡아주기 */
/*.booking-service-mobile {*/
/*    !* velocity [이전 위치] 잡기 *!*/
/*    top: 10vw;*/
/*    opacity: 0;*/
/*}*/


.booking-service-box {
    position: absolute;
    top: 0;
    left: 0;

    display: flex;
    flex-direction: column;

    width: 100%;
    height: var(--booking-service-height);
}

.booking-service-box-mobile {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: var(--booking-service-height);
}


.booking-service-tab {
    list-style: none !important;
    display: flex;
    align-items: center;
    width: 100%;

    margin: 0;
    padding: 0;
    height: var(--booking-service-tab-height);
}

.booking-service-tab-mobile {
    list-style: none !important;
    display: flex;
    align-items: center;
    width: 100%;

    margin: 0;
    padding: 0; /* 모바일은 tab에 패딩 추가*/
    height: var(--booking-service-tab-height);

    position: relative;
}

/*.booking-service-tab-mobile:before {*/
/*    content: '';*/
/*    display: block;*/
/*    width: 100%;*/

/*    height: 1px;*/
/*    background-color: #e5e5e5;*/

/*    position: absolute;*/
/*    left: 0;*/
/*    bottom: -1px; !* 원본의 border 1px과 겹치게 하기 위해 1px 내림*!*/
/*}*/

.booking-service-tab > li,
.booking-service-tab-mobile > li {
    flex: 1;
    text-align: center;
}

.booking-service-tab > li > a {
    display: block; /* a태그를 flex-item 내 가득 채우기 */

    line-height: var(--booking-service-tab-height);
    font-size: var(--booking-service-tab-font-size);
    color: #fff;

    border-radius: 15px 15px 0 0;

    /* 임시 */
    /*background: red;*/
    cursor: pointer;
}

.booking-service-tab-mobile > li > a {
    display: block; /* a태그를 flex-item 내 가득 채우기 */

    line-height: var(--booking-service-tab-height);
    font-size: var(--booking-service-tab-font-size);
    color: #333;

    /*border-radius:7px 7px 0 0; !* 모바일 radius 약하게*!*/
    border-radius: 15px 15px 0 0; /* 모바일 radius 약하게*/
    /*border: 1px solid #e5e5e5; !* 모바일 보더 추가*!*/
    /*border-bottom: 0;*/

    cursor: pointer;
}

/* 예약  tab 글자 - .on일 때 */
.booking-service-tab > li.on > a {
    background-color: var(--booking-service-color);
    color: #333;
}

.booking-service-tab-mobile > li.on > a {
    background-color: var(--booking-service-mobile-color);
    color: #fff;

    /*border-bottom: 1px solid var(--color-main); !* 모바일에서는 흰색 bottom border를 넣어서, tab의 :before 선을 덮는다*!*/
    position: relative; /* absolute의 before 선을 덮어쓰려면 relative로 바꿔줘야한다. */
}


/* 예약  tab 글자 - .on이 아닐 때 */
.booking-service-tab > li:not(.on) > a {
    background-color: var(--booking-service-not-on-color);
    color: #fff;
}

.booking-service-tab-mobile > li:not(.on) > a {
    background-color: #f1f1f1;
    color: #aaaaaa;
}

.booking-service-content {
    width: 100%;
    height: var(--booking-service-content-height);

    /* 확인 안됨. */
    /*display: flex;*/
    /*align-items: center;*/

    border-radius: 0 0 15px 15px;
    background: var(--booking-service-color);
    /* 임시 */
    /*background-color: blue;*/
}

.booking-service-content-mobile {
    width: 100%;

    /*border-radius: 7px;*/
    border-radius: 0;
    background: var(--booking-service-mobile-color);
}

.blind {
    visibility: hidden;
    position: absolute;
    left: -5000px;
    width: 0;
    height: 0;
    font-size: 0;
    line-height: 0;
    overflow: hidden;
}

.booking-service-content .content-box {
    /*display: none;*/
    padding: 2% 3%;
}

.booking-service-content-mobile .content-box-mobile {
    padding: 2% 3%;
}

.bs-form {
    display: flex;
    justify-content: space-between;
    align-items: center;

    margin-top: 5px;

    flex-wrap: wrap;
}

.bs-form:not(:first-of-type) {
    margin-top: 10px;
}

.select-clinic-wrapper {
    z-index: 13;
    /*width: 40%;*/
    width: var(--booking-service-form-row-width-percent-of-left);

    position: relative; /* for dropdown 영역 div.select-clinic*/
}

/* 예약 between 1 드랍다운 버튼 */
.select-clinic-wrapper .btn-select {
    display: inline-block;
    position: relative; /* for after select bg icon */
    width: 100%;
    height: var(--booking-service-tab-height);

    border: 1px solid #ddd;
    border-radius: 6px;

    text-align: left;
    padding-left: 10%;
    font-size: calc(var(--booking-service-tab-font-size) * .9);
    font-weight: bold;
    color: #333;
    /*letter-spacing: -0.09rem;*/
    letter-spacing: var(--booking-service-letter-spacing);

    background: #fff;
    cursor: pointer;
}

.select-clinic-wrapper .btn-select-mobile {
    display: inline-block;
    position: relative; /* for after select bg icon */
    width: 100%;
    height: var(--booking-service-tab-height);

    border: 1px solid #ddd;
    border-radius: 6px;

    text-align: left;
    padding-left: 10%;
    font-size: calc(var(--booking-service-tab-font-size) * .9);
    font-weight: bold;
    color: #333;
    /*letter-spacing: -0.09rem;*/
    letter-spacing: var(--booking-service-letter-spacing);


    background: #fff;
    cursor: pointer;
}

/* 드랍다운 화살표 */
.select-clinic-wrapper .btn-select:after {
    content: '';
    position: absolute;
    top: 0;
    right: 0;

    display: block;
    width: calc(var(--booking-service-tab-height) * .8);
    height: calc(var(--booking-service-tab-height) * .8);

    border-radius: 6px;

    background: url(../images/main_section/sel-arrb.png) no-repeat 50% 50%;
}

/* 예약 부모 wrapper .open시 자식button의 :after bg icon는 180도 뒤집어서 */
.select-clinic-wrapper.open .btn-select:after {
    transform: rotate(180deg);
    background-position: 50% 100%;
}

.select-clinic-wrapper .btn-select-mobile:after {
    content: '';
    position: absolute;
    top: 0;
    right: 0;

    display: block;
    width: calc(var(--booking-service-tab-height) * .8);
    height: calc(var(--booking-service-tab-height) * .8);

    border-radius: 6px;

    background: url(../images/main_section/sel-arrb.png) no-repeat 50% 50%;
}

.select-clinic-wrapper.open .btn-select-mobile:after {
    transform: rotate(180deg);
    background-position: 50% 75%;
}

/* 예약 select버튼 dropdown 부모 wrapper에 .open시 보이게 됨. */
.select-clinic-wrapper .select-clinic,
.select-clinic-wrapper .select-clinic-mobile {
    display: none;
}

.select-clinic-wrapper.open .select-clinic,
.select-clinic-wrapper.open .select-clinic-mobile {
    display: block;
}

.select-clinic-wrapper .select-clinic {
    position: absolute;
    top: 50px;
    right: 0;

    width: 350px;
    background: #fff;
    border-radius: 6px;
    box-shadow: 0 0 9px rgba(0, 0, 0, 0.14);
    z-index: 999999;
}

.select-clinic-wrapper .select-clinic-mobile {
    position: absolute;
    top: 40px;
    left: 0;

    width: 150%;
    background: #fff;
    border-radius: 6px;
    box-shadow: 0 0 9px rgba(0, 0, 0, 0.14);
    z-index: 999999;
}


.select-clinic ul,
.select-clinic-mobile ul {
    list-style: none;

    display: flex;
    flex-wrap: wrap;
    align-items: center;

    padding: 5%;
    margin: 0;
}

.select-clinic li,
.select-clinic-mobile li {
    width: 25%;

    text-align: center;

    padding-bottom: 10px;
}

.select-clinic li a,
.select-clinic-mobile li a {
    display: inline-block;
    font-size: calc(var(--booking-service-tab-font-size) * .9);
    padding: 2%;
}


.select-clinic li:hover a,
.select-clinic li.active a,
.select-clinic-mobile li:hover a,
.select-clinic-mobile li.active a {
    font-weight: 700;
    border-bottom: 1px solid #333;
}

/* radio 초진vs재진 선택 */

.radio-switch {
    display: flex;

    /*width: 55%;*/
    width: var(--booking-service-form-row-width-percent-of-right);
    height: var(--booking-service-tab-height);
    background: #f1f1f1;

    /*padding: 1%;*/
    padding: 0;
    margin: 0;
    border: 1px solid #ddd;
    border-radius: 6px;
    /*vertical-align: top;*/
}

.radio-switch .radioCheck {
    /*display: inline-block;*/
    flex: 1;
    height: 100%;
}

.radio-switch .radioCheck input {
    position: absolute;
    opacity: 0;
    height: 0;
    padding: 0;
}

.radio-switch .radioCheck label {
    display: flex;
    justify-content: center;
    align-items: center;

    width: 100%;
    height: 100%;

    font-size: calc(var(--booking-service-tab-font-size) * .9);
    color: #888;

    cursor: pointer;
}

.radioCheck input:checked + label {
    color: #333;
    font-weight: 700;

    background: #fff;
    border-radius: 6px;
}


.radioCheck label::before {
    content: '';
    /*display: inline-block;*/
    /*text-align: center;*/
    width: calc(var(--booking-service-tab-height) * .5);
    height: calc(var(--booking-service-tab-height) * .5);;

    margin-right: 7px;

    background: url("../images/main_section/rev-chk-off.png") no-repeat 50% 50%;
    background-size: cover;
}

.radioCheck input:checked + label::before {
    background: url("../images/main_section/rev-chk-on.png") no-repeat 50% 50%;
    background-size: cover;
}

/* row 2 */
/* input text */
.booking-service-content .bs-form input,
.booking-service-content .bs-form select,
.booking-service-content-mobile .bs-form input,
.booking-service-content-mobile .bs-form select {
    height: var(--booking-service-tab-height);
    border: 1px solid #ddd;
    border-radius: 6px;

    text-align: left;
    padding-left: 3%;

    font-size: calc(var(--booking-service-tab-font-size) * .9);
    font-weight: bold;
    color: #333;
    /*letter-spacing: -0.09rem;*/
    letter-spacing: var(--booking-service-letter-spacing);


    /*outline: none;*/
}

.booking-service-content .bs-form .select-consultTime-wrapper,
.booking-service-content-mobile .bs-form .select-consultTime-wrapper {
    width: 29%;

    display: flex;
    align-items: center;
}

.booking-service-content .bs-form .input-name,
.booking-service-content-mobile .bs-form .input-name {
    /*width: var(--booking-service-form-row-width-percent-of-left);*/
    width: 24%;
}

.booking-service-content .bs-form .input-tel,
.booking-service-content-mobile .bs-form .input-tel {
    /*width: var(--booking-service-form-row-width-percent-of-right);*/
    width: 43%;
}

/* validate 자리 */
.bs-validate {
    height: 30px;
    padding-top: 5px;
}

.bs-validate .validate {
    color: #fd4d4d;
    line-height: 20px;
    font-size: 13px;

    background: url("../images/main_section/ico-i.png") no-repeat 0 2%;
    padding-left: 7%;
}

.bs-validate-mobile {
    height: 30px;
    padding-top: 3px;
}

.bs-validate-mobile .validate {
    color: #fd4d4d;
    line-height: 25px;
    font-size: 11px;
    font-weight: 700;

    background: url("../images/main_section/ico-i.png") no-repeat 0 2%;
    padding-left: 7%;
}

/* 예약 버튼 */
.booking-service-box .btn-bs {
    width: 100%;
    height: var(--booking-service-tab-height);
    background: #82a8ff;

    border: 0;
    border-radius: 8px;
    cursor: pointer;

    font-size: var(--booking-service-tab-font-size);
    font-weight: 700;
    color: #fff;
}

.booking-service-box-mobile .btn-bs {
    width: 100%;
    height: var(--booking-service-tab-height);
    background: #12887a;

    border: 0;
    border-radius: 8px;
    cursor: pointer;

    font-size: var(--booking-service-tab-font-size);
    font-weight: 700;
    color: #fff;
}


/* 예약 진료시간 p태그  */
.bs-time {
    font-size: calc(var(--booking-service-tab-font-size) * .9);
    margin-top: 5px;
    letter-spacing: -0.04rem;
}

.bs-time-mobile {
    font-size: calc(var(--booking-service-tab-font-size) * .9);
    font-weight: bold;
    margin: 10px 0;
    /*margin-top: 5px;*/

    text-align: center;
    letter-spacing: 0;
    color: #222;
}


.section3 {
    width: 100%;
    position: relative; /* */
    z-index: 666;
    background: #fff;
}

.section3 > div {
    width: 70%;
    margin: 0 auto;
}

@media screen and (max-width: 991px) {
    .section3 > div {
        width: 85%;
    }
}


/* sectino3 media tab */

/* tab 스크롤을 위한 설정 */
.tab-wrapper {
    width: 100%;
    /*height: 32px;*/
    white-space: nowrap; /* 더보기의 글자가 다음줄 안넘어가게 함.*/


}

.tab-wrapper > .tab-scroll {
    flex-grow: 1; /* flex-item으로서 w-100% */
    /* 우측 더보기에 대한 우측간격은 남겨두기*/
    margin-right: 10%;

    /*height: 32px;*/
    flex-wrap: nowrap;
    overflow: hidden;

    /* 가리개를 위해 row방향용 flex로 만들어 놓기 */
    display: flex;

    /* 가리개 absolute를 위함 */
    position: relative;
}

.tab-wrapper > .tab-scroll > ul {
    /* 가로가 넘쳐 부모 height를 넘치는 경우, flex를 다 가로로 넘치게 함 */
    flex:none;

    /* 좌측 absolute 가리개의 width만큼 패딩 주기 */
    padding-left: 5%;
}

.tab-scroll.scroll-opacity::before {
    content: '';

    opacity: .8;

    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width:5%;

    background: linear-gradient(to left, rgba(255, 255, 255, 0.08), white);
    /* draggable(1004)보다 더 위에*/
    z-index: 1005;
}

.tab-scroll.scroll-opacity::after {
    content: '';

    opacity: .8;

    position: absolute;
    right: 0;
    top: 0;
    height: 100%;
    width:5%;

    /*background: white;*/
    background: linear-gradient(to right, rgba(255, 255, 255, 0.08), white);


    /* draggable(1004)보다 더 위에*/
    z-index: 1005;
}



.section3 .media-box,
.section2-middle2 .review-box {
    padding: 10px 0;
}

/* 탭 기본border 삭제 */
.section3 .media-box .nav-tabs,
.section2-middle2 .review-box .nav-tabs {
    border: none;
}

/* 활성화되기 전, tab 글자 */
.section3 .media-box .nav-tabs > li > a,
.section2-middle2 .review-box .nav-tabs > li > a {
    /*font-size: 13px;*/
    color: #999;

    border: none;
}

/*@media screen and (max-width: 991px) {*/
/*    .section3 .media-box .nav-tabs > li > a,*/
/*    .section2-middle2 .review-box .nav-tabs > li > a {*/
/*        font-size: 9px;*/
/*    }*/
/*}*/

/* 활성화(a.active) tab 글자 */
.section3 .media-box .nav-tabs > li > a.active,
.section2-middle2 .review-box .nav-tabs > li > a.active {
    /*border-bottom: 2px solid var(--color-main)!important;*/
    background-color: var(--color-main);

    color: #fff;
}

/* tab active color */
/* - ul.nav-tabs 의 id를 기준으로 판단 하도록 변경 */
/*.section3 .media-box .nav-tabs > li > a.active[href="#tabs-youtube"] {*/
.section3 .media-box ul.nav-tabs#youtube-tab > li > a.active {
    background-color: var(--color-pink)!important;
    background-color: var(--color-youtube)!important;
    color: #fff;
}
/*.section3 .media-box .nav-tabs > li > a.active[href="#tabs-blog"] {*/
.section3 .media-box ul.nav-tabs#blog-tab > li > a.active {
    background-color: var(--color-green)!important;
    background-color: var(--color-naver)!important;
    color: #fff;
}

/* section2-middle2 치료후기 */
@media screen and (min-width: 992px) {
    /* w-25에서 위로 넘치는 img가 나타나는 구간에서 mt 추가 */
    .section2-middle2 .review-box .tab-content .card {
        margin-top: 60px;
    }
}


/* section3 건강채널 */
span.play {
    position: absolute;
    display: block;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 30%;
    height: 30%;
    font-size: 0;
    background: url('../images/main_section/btn-play.png') no-repeat 50% 50%;
    background-size: auto 100%;
}


span.category {
    position: absolute;
    content: "";
    top: 8%;
    right: -4%;
    width: 50%;
    height: 18%;
    max-height: 30px;
    background: var(--color-main);
    box-shadow: 2px 2px 7px rgba(0, 181, 178, .5);

    color: white;
    text-align: center;
    line-height: 100%;
    padding: 2%;
    font-size: 13px;
}

@media screen and (max-width: 991px) {
    span.category {
        font-size: 11px;
    }
}

/* 유튜브 카테고리는 따로 색깔 */
span.category.category-youtube {
    /*background: #F07F7F !important;*/
    /*box-shadow: 2px 2px 7px rgba(240, 127, 127, 0.4);*/
    background: var(--color-youtube) !important;
    box-shadow: 2px 2px 7px rgba(246,50,50,0.4);
}

span.category.category-naver {
    background: var(--color-naver) !important;
    box-shadow: 2px 2px 7px rgba(128, 186, 150, 0.4);
}

.media-box .ellipsis-2 {
    width: 100%;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;

    overflow: hidden;
    text-overflow: ellipsis;

    height: 2.6em;
    line-height: 1.3em;
    font-size: 1em;
}

@media screen and (max-width: 991px) {
    .media-box .card-body {
        padding: 10px 5px;
    }

    .media-box .ellipsis-2 {
        height: 2.4em;
        line-height: 1.2em;
        font-size: .6em;
    }
}

/* 건강채널 + 치료후기 tab content swiper 기본설정 */
.tab-content .tab-pane {
    /* pagination 위쪽배치를 위한 패딩 5% -> 이동 후 3% */
    padding: 3% 0 0 0;
}

@media screen and (max-width: 991px){
    .tab-content .tab-pane {
        padding-bottom: 5%;
    }
}

.tab-content .tab-pane .swiper-container {
    width: 100%;
    /* 임시 */
    /*background: red;*/
}

.tab-content .tab-pane .swiper-container .swiper-slide {
    position: relative;
}

/* slide 2.5, 1.5 slide에 따라, 상하패딩을 가진 .tab-pane에 before로 [자린 세로선] 주기 */
.section3 .tab-pane:before {
    content: '';
    position: absolute;
    top: 0;
    right: 0;

    display: block;
    width: 1.1px;
    height: 100%;

    background: url("../images/main_section/sd-line.png") no-repeat 0 50%;
    background-size: cover;

    z-index: 2;
}

.section3 .tab-pane.hide-before:before {
    display: none;
}

/* 치료후기 swiper 설정 */
.section2-middle2 .swiper-container {
    position: relative;
    width: 100%;
}

.section2-middle2 .swiper-pagination {
    position: relative; /* container밖으로 뺌 */

    width: 100%;
    /*top: -60px;*/
    /*bottom: auto;*/
    top:auto;
    bottom: -30px;

    display: flex;
    align-items: center;
    justify-content: center;

    /*background: none;*/
    /*border-radius: 0px;*/
}

@media screen and (max-width: 991px) {
    /* 모바일에선 사라지는 mt위족공간 -60px -> top - 도 그만큼 줄임*/
    .section2-middle2 .swiper-pagination {
        /*top: -10px;*/
        bottom: -12px;
    }
}

/* 치료후기 지정 bullet css [active전 글자] */
.section2-middle2 .swiper-pagination .review-bullet {
/*    !*flex: 1;*!*/
    width: auto; /* content크기만큼 차지하도록*/
    height: auto;

    flex-wrap: wrap; /* 글자가 세로로 나열안되도록*/
    text-align: center;

    margin: 0 5px; /* 좌우 간격 */

    background: none!important; /* 동그라미 삭제 */

    color: #999!important; /* active전 글자색 */
    font-weight: bold;
    /*text-shadow: 1px 1px 2px #757575;*/
}

/* 치료후기 지정 bullet css [active 글자] */
.section2-middle2 .swiper-pagination .review-bullet-active {
    color: var(--color-main)!important; /* active전 글자색 */
    transform: scale(1.5);
}

.section2-middle2 .tab-content .w-75 {
    padding: 0 5%;
}

/* lg ~ xxl까지 공자사항에 붙는 구간에서 pagination이 들어잇는 w-75부분을 약간 올린다. */
@media screen and (min-width: 992px) and (max-width: 1440px) {
    .section2-middle2 .tab-content .w-75 {
        position: relative;
        top: -50px!important;
    }
}

/* 치료후기 화살표 */
.section2-middle2 .swiper-button-prev {
    top: 0;
    height: 100%;

    left: -6%;

    margin-top: 4%;

    transform: scaleX(.8);
}
.section2-middle2 .swiper-button-next {
    top: 0;
    height: 100%;

    right: -6%;

    margin-top: 4%;

    transform: scaleX(.8);
}

/* 치료후기 좌우측 화살표 모바일에서만 보이도록*/
/* - js동적으로 display를 변화시키므로, !important 필수 */
@media screen and (min-width: 992px){
    .section2-middle2 .swiper-button-prev,
    .section2-middle2 .swiper-button-next {
        display: none!important;
    }
}
