@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@500&family=Noto+Serif+KR:wght@500&display=swap');
@import url(https://cdn.jsdelivr.net/gh/moonspam/NanumSquare@2.0/nanumsquare.css);

:root {
    --primary-font-family: 'Noto Sans KR', sans-serif;
    --secondary-font-family: 'Noto Serif KR', sans-serif;
    --third-font-family: 'NanumSquare', sans-serif;

    --color-main: #00b5b2;
    --color-main-light: #5bd2cc;
    --color-main-dark: #50ccc7; /* for 둘러보기 배경색 + 클리닉 치료법 글자색 */
    --color-main-darker: #05736d; /* for 모바일 2차메뉴 */
    --color-submain: #FC5230;

    --color-schedule: #a9cccb;

    --color-pink: #F07F7F;
    --color-purple: #ab8dca;
    --color-green: #80BA96;
    --color-youtube: #f63232;
    --color-naver: #0eca8b;
    --color-yellow-gold: #cc820b;
    --color-gold: #CEA869;
    --color-gray-darker: #212529BF;



    --color-kakao-yellow: #fee500;
}

body {
    font-family: 'NanumSquare', 'Noto Sans KR', 'Malgun Gothic', 'Nanum Gothic', 'Noto Sans', 'sans-serif';
}

/* 글자체 */
.font-serif {
    font-family: var(--secondary-font-family) !important;
}
.font-sans {
    font-family: var(--primary-font-family) !important;
}
.font-nanum {
    font-family: var(--third-font-family) !important;
}

/* 글자크기 */
.fs-8 {
    font-size: 8px;
}

.fs-9 {
    font-size: 9px;
}


.fs-11 {
    font-size: 11px;
}

.fs-13 {
    font-size: 13px;
}


.fs-tab {
    font-size: 13px;
    letter-spacing: -.05rem;
}

@media screen and (max-width: 991px) {
    .fs-tab {
        font-size: 9px;
        letter-spacing: -.05rem;
    }
}

.fs-dx-btn {
    font-size: 18px;
}

@media screen and (max-width: 991px) {
    .fs-dx-btn {
        font-size: 9px;
        letter-spacing: -.05rem;
    }
}

@media screen and (min-width: 991px) and (max-width: 1399px) {
    .fs-dx-btn {
        font-size: 13px;
        letter-spacing: -.01rem;
    }
}

.fs-dx-answer {
    font-size: 18px;
}

@media screen and (min-width: 992px) and (max-width: 1399px) {
    .fs-dx-answer {
        font-size: 13px;
        letter-spacing: -.005rem;
    }
}
@media screen and (max-width: 991px) {
    .fs-dx-answer {
        font-size: 11px;
        letter-spacing: -.01rem;
    }
}

.fs-dx-result {
    font-size: 25px;
    font-weight: bold;
}

.fs-dx-result-sub {
    font-size: 16px;
    font-weight: bold;
}


@media screen and (min-width: 992px) and (max-width: 1399px) {
    .fs-dx-result {
        font-size: 20px;
        letter-spacing: -.01rem;
    }
    .fs-dx-result-sub {
        font-size: 16px;
        letter-spacing: -.01rem;
    }
}

@media screen and (max-width: 991px) {
    .fs-dx-result {
        font-size: 17px;
        letter-spacing: -.01rem;
    }
    .fs-dx-result-sub {
        font-size: 13px;
        letter-spacing: -.01rem;
    }
}


.fs-facility-title {
    font-size: 25px;
    font-weight: bold;
}

.fs-facility-text {
    font-size: 16px;
    font-weight: bold;
}


@media screen and (min-width: 992px) and (max-width: 1399px) {
    .fs-facility-title {
        font-size: 20px;
        letter-spacing: -.01rem;
    }
    .fs-facility-text {
        font-size: 16px;
        letter-spacing: -.01rem;
    }
}

@media screen and (max-width: 991px) {
    .fs-facility-title {
        font-size: 17px;
        letter-spacing: -.01rem;
    }
    .fs-facility-text {
        font-size: 13px;
        letter-spacing: -.01rem;
    }
}



.fs-clinic-tab {
    font-size: 18px;
}

@media screen and (min-width: 992px) and (max-width: 1399px) {
    .fs-clinic-tab {
        font-size: 15px;
        letter-spacing: -.005rem;
    }
}

@media screen and (min-width: 576px) and (max-width: 991px) {
    .fs-clinic-tab {
        font-size: 13px;
        letter-spacing: -.01rem;
    }
}

@media screen and (max-width: 575px) {
    .fs-clinic-tab {
        font-size: 11px;
        letter-spacing: -.01rem;
    }
}

.fs-clinic-title {
    font-size: 18px;
}

@media screen and (min-width: 992px) and (max-width: 1399px) {
    .fs-clinic-title {
        font-size: 16px;
        letter-spacing: -.005rem;
    }
}

@media screen and (min-width: 576px) and (max-width: 991px) {
    .fs-clinic-title {
        font-size: 15px;
        letter-spacing: -.01rem;
    }
}

@media screen and (max-width: 575px) {
    .fs-clinic-title {
        font-size: 14px;
    }
}


.fs-clinic-therapy {
    font-size: 18px;
    font-weight: bold;
}
.fs-clinic-therapy-desc {
    font-size: 16px;
    font-weight: bold;
}

@media screen and (min-width: 992px) and (max-width: 1399px) {
    .fs-clinic-therapy {
        font-size: 15px;
        letter-spacing: -.1rem;
    }
    .fs-clinic-therapy-desc {
        font-size: 13px;
        letter-spacing: -.005rem;
    }
}

@media screen and (min-width: 576px) and (max-width: 991px) {
    .fs-clinic-therapy {
        font-size: 14px;
        letter-spacing: -.04rem;
    }
    .fs-clinic-therapy-desc {
        font-size: 13px;
        letter-spacing: -.01rem;
    }
}

@media screen and (max-width: 575px) {
    .fs-clinic-therapy {
        font-size: 11px;
        letter-spacing: -.05rem;
    }
}

.fs-notice-title {
    font-size: 20px;
    font-weight: bold;
}

.fs-notice-text {
    font-size: 14px;
}


@media screen and (min-width: 992px) and (max-width: 1399px) {
    .fs-notice-title {
        font-size: 16px;
    }
    .fs-notice-text {
        font-size: 13px;
        letter-spacing: -.01rem;
    }
}

@media screen and (max-width: 991px) {
    .fs-notice-title {
        font-size: 14px;
    }
    .fs-notice-text {
        font-size: 11px;
        letter-spacing: -.05rem;
    }
}



/* 글자색 */
.text-yellow {
    color: rgb(252, 255, 0);
}

.text-yellow-sm {
    color: rgb(255, 243, 167)!important;
}

.text-gray-light {
    color: #e8e8e8 !important;
}
.text-gray {
    color: #ddd !important;
}

.text-gray-dark {
    color: #adadad !important;
    font-weight: bold;
}

.text-figcaption {
    color: rgba(33, 37, 41, 0.75)!important;
}

.text-main {
    color: var(--color-main)!important;
}

.text-main-light {
    color: var(--color-main-light)!important;
}

.text-main-dark {
    color: var(--color-main-dark);
}


.text-submain {
    color: #FC5230;
}

.text-submain-light {
    color: #ff7c37;
}

.text-purple {
    color:  var(--color-purple);
}

.text-pink {
    color:  var(--color-pink);
}

.text-danger-light {
    color: rgb(255, 85, 85)!important;
}

.text-green {
    color: var(--color-green);
}
.text-gold {
    color: var(--color-gold);
}

.text-yellow-gold {
    color: var(--color-yellow-gold);
}

.text-clinic-desc {
    color: var(--color-gray-darker)!important;
}



/* 글자 투명도 */
.text-white-70 {
    --bs-text-opacity: 1;
    color: rgba(255, 255, 255, 0.7) !important;
}

/* 글자 그림자 */
/* - 배경 어두울 때 */

.text-shadow {
    text-shadow: 3px 3px 5px rgba(0, 0, 0, 0.5);
}

/* - 하얀바탕일 때 */
.text-shadow-none {
    text-shadow: none !important;
}
.text-shadow-sm {
    text-shadow: .5px .5px 3px rgba(0, 0, 0, 0.3);
}

/* - 배경 밝을 때 */
.text-shadow-lg {
    text-shadow: 1px 1px 1px #000000;
}

/* 글자간격 */
/* - padding 2 p태그 기준 */
.ellipsis-3 {
    width: 100%;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;

    overflow: hidden;
    text-overflow: ellipsis;

    font-size: 13px;
    max-height: 4.52em;
    line-height: 1.25em;
}

/* - padding 1 p태그 기준 */
@media screen and (max-width: 991px) {
    .ellipsis-3 {
        font-size: 9px;
        max-height: 4.65em;
        line-height: 1.35em;
    }
}

/* - padding 2 p태그 기준 */
.ellipsis-4 {
    width: 100%;
    display: -webkit-box;
    -webkit-line-clamp: 4;
    -webkit-box-orient: vertical;

    overflow: hidden;
    text-overflow: ellipsis;

    font-size: 13px;
    max-height: 5.8em;
    line-height: 1.26em;
}

/* - padding 1 p태그 기준 */
@media screen and (max-width: 991px) {
    .ellipsis-4 {
        font-size: 9px;
        max-height: 5.5em;
        line-height: 1.25em;
    }
}


/* 배경색 */
.bg-blue {
    background-color: rgb(45, 82, 181);
}

.bg-blue-light {
    background-color: rgb(86, 128, 245);
}

.bg-danger-light {
    background-color: rgb(255, 85, 85);
}

.bg-main {
    background: var(--color-main);
}

.bg-main-light {
    background: var(--color-main-light);
}

.bg-main-dark {
    background: var(--color-main-dark);
}

.bg-submain {
    background: #FC5230;
}

.bg-submain-90 {
    background-color: rgba(252, 82, 48, .9);
}

.bg-blue-90 {
    background-color: rgba(9, 32, 75, .9);
}

.bg-gray {
    background: #f7f7f7;
}

.bg-gray-120 {
    background: #eeeeee;
}

.bg-purple {
    background: var(--color-purple) !important;
}


.bg-pink {
    background: var(--color-pink) !important;
}

.bg-green {
    background: var(--color-green) !important;
}

.bg-schedule {
    background: var(--color-schedule) !important;
}

.bg-kakao {
    background: var(--color-kakao-yellow) !important;
}

/* 버튼 */
.btn-main {
    --bs-btn-color: #fff;
    --bs-btn-bg: #00b5b2;
    --bs-btn-border-color: #00b5b2;
    --bs-btn-hover-color: #fff;
    --bs-btn-hover-bg: var(--color-gray-darker);
    --bs-btn-hover-border-color: var(--color-gray-darker);
    --bs-btn-focus-shadow-rgb: 225, 83, 97;
    --bs-btn-active-color: #fff;
    --bs-btn-active-bg: #00b5b2;
    --bs-btn-active-border-color: #00b5b2;
    --bs-btn-active-shadow: inset 0 3px 5px #00b5b2;
    --bs-btn-disabled-color: #fff;
    --bs-btn-disabled-bg: var(--color-green);
    --bs-btn-disabled-border-color: var(--color-green);
}

.btn-submain {
    --bs-btn-color: #fff;
    --bs-btn-bg: #FC5230;
    --bs-btn-border-color: #FC5230;

    --bs-btn-hover-color: #fff;
    --bs-btn-hover-bg: #F07F7F;
    --bs-btn-hover-border-color:#F07F7F;
    --bs-btn-focus-shadow-rgb: #FC5230;

    --bs-btn-active-color: #fff;
    --bs-btn-active-bg: #F07F7F;
    --bs-btn-active-border-color: #F07F7F;
    --bs-btn-active-shadow: inset 0 3px 5px #FC5230;

    --bs-btn-disabled-color: #fff;
    --bs-btn-disabled-bg: #FC5230;
    --bs-btn-disabled-border-color: #FC5230;
}

.btn-green {
    --bs-btn-color: #fff;
    --bs-btn-bg: #80BA96;
    --bs-btn-border-color: #80BA96;

    --bs-btn-hover-color: #fff;
    --bs-btn-hover-bg: #00b5b2;
    --bs-btn-hover-border-color: #00b5b2;
    --bs-btn-focus-shadow-rgb: #00b5b2;
    --bs-btn-active-color: #fff;
    --bs-btn-active-bg: #00b5b2;
    --bs-btn-active-border-color: #00b5b2;
    --bs-btn-active-shadow: inset 0 3px 5px #00b5b2;
    --bs-btn-disabled-color: #fff;
    --bs-btn-disabled-bg: #00b5b2;
    --bs-btn-disabled-border-color: #00b5b2;
}

.btn-pink {
    --bs-btn-color: #fff;
    --bs-btn-bg: #F07F7F;
    --bs-btn-border-color: #F07F7F;

    --bs-btn-hover-color: #fff;
    --bs-btn-hover-bg: #FC5230;
    --bs-btn-hover-border-color:#FC5230;
    --bs-btn-focus-shadow-rgb: #FC5230;

    --bs-btn-active-color: #fff;
    --bs-btn-active-bg: #FC5230;
    --bs-btn-active-border-color: #FC5230;
    --bs-btn-active-shadow: inset 0 3px 5px #FC5230;

    --bs-btn-disabled-color: #fff;
    --bs-btn-disabled-bg: #FC5230;
    --bs-btn-disabled-border-color: #FC5230;
}

.btn-gray {
    --bs-btn-color: #fff;
    --bs-btn-bg: #ddd;
    --bs-btn-border-color: #ddd;
    --bs-btn-hover-color: #222;
    --bs-btn-hover-bg: #ddd;
    --bs-btn-hover-border-color: #ddd;
    --bs-btn-focus-shadow-rgb: #ddd;
    --bs-btn-active-color: #222;
    --bs-btn-active-bg: #ddd;
    --bs-btn-active-border-color: #ddd;
    --bs-btn-active-shadow: inset 0 3px 5px #ddd;
    --bs-btn-disabled-color: #222;
    --bs-btn-disabled-bg:#ddd;
    --bs-btn-disabled-border-color: #ddd;
}


/* margin, padidng */
.mb-6 {
    margin-bottom: 4.5rem;
}


/* 투명도 */
.opacity-5 {
    opacity: 0.05 !important;
}

.opacity-10 {
    opacity: 0.10 !important;
}



/* border */
.border-main {
    border-color: var(--color-main-dark) !important;
}


/*  underline */
.underline {
    position: relative;
}


.underline:before{
    position: absolute;
    content: '';

    left: 0;
    bottom: 0;
    width: 100%;

    /*height: 4em;*/
    border-bottom: 4px solid #ddd;
    opacity: .2;
}

.underline-white:before{
    bottom: -3px;
    border-width: 7px;
    border-color: #bfffba;
}


.underline-dark:before{
    bottom: 0;
    border-color: cadetblue;
}

.underline-clinic:before{
    bottom: 3px;
    border-color: #a0c79c;
    opacity: .2;
}
